src/main/resources/wsdl/document.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e.--><!--Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e.--><definitions targetNamespace="http://service.server/" name="DocumentServiceImplService" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.server/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://service.server/" schemaLocation="document.xsd"/>
    </xsd:schema>
  </types>
  <message name="delete">
    <part name="parameters" element="tns:delete"/>
  </message>
  <message name="deleteResponse">
    <part name="parameters" element="tns:deleteResponse"/>
  </message>
  <message name="DocumentNotFound">
    <part name="fault" element="tns:DocumentNotFound"/>
  </message>
  <message name="save">
    <part name="parameters" element="tns:save"/>
  </message>
  <message name="saveResponse">
    <part name="parameters" element="tns:saveResponse"/>
  </message>
  <message name="DocumentAlreadyExist">
    <part name="fault" element="tns:DocumentAlreadyExist"/>
  </message>
  <message name="findAll">
    <part name="parameters" element="tns:findAll"/>
  </message>
  <message name="findAllResponse">
    <part name="parameters" element="tns:findAllResponse"/>
  </message>
  <message name="findById">
    <part name="parameters" element="tns:findById"/>
  </message>
  <message name="findByIdResponse">
    <part name="parameters" element="tns:findByIdResponse"/>
  </message>
  <portType name="DocumentService">
    <operation name="delete">
      <input wsam:Action="http://service.server/DocumentService/deleteRequest" message="tns:delete"/>
      <output wsam:Action="http://service.server/DocumentService/deleteResponse" message="tns:deleteResponse"/>
      <fault message="tns:DocumentNotFound" name="DocumentNotFound" wsam:Action="http://service.server/DocumentService/delete/Fault/DocumentNotFound"/>
    </operation>
    <operation name="save">
      <input wsam:Action="http://service.server/DocumentService/saveRequest" message="tns:save"/>
      <output wsam:Action="http://service.server/DocumentService/saveResponse" message="tns:saveResponse"/>
      <fault message="tns:DocumentAlreadyExist" name="DocumentAlreadyExist" wsam:Action="http://service.server/DocumentService/save/Fault/DocumentAlreadyExist"/>
    </operation>
    <operation name="findAll">
      <input wsam:Action="http://service.server/DocumentService/findAllRequest" message="tns:findAll"/>
      <output wsam:Action="http://service.server/DocumentService/findAllResponse" message="tns:findAllResponse"/>
    </operation>
    <operation name="findById">
      <input wsam:Action="http://service.server/DocumentService/findByIdRequest" message="tns:findById"/>
      <output wsam:Action="http://service.server/DocumentService/findByIdResponse" message="tns:findByIdResponse"/>
      <fault message="tns:DocumentNotFound" name="DocumentNotFound" wsam:Action="http://service.server/DocumentService/findById/Fault/DocumentNotFound"/>
    </operation>
  </portType>
  <binding name="DocumentServiceImplPortBinding" type="tns:DocumentService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="delete">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="DocumentNotFound">
        <soap:fault name="DocumentNotFound" use="literal"/>
      </fault>
    </operation>
    <operation name="save">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="DocumentAlreadyExist">
        <soap:fault name="DocumentAlreadyExist" use="literal"/>
      </fault>
    </operation>
    <operation name="findAll">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="findById">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="DocumentNotFound">
        <soap:fault name="DocumentNotFound" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="DocumentServiceImplService">
    <port name="DocumentServiceImplPort" binding="tns:DocumentServiceImplPortBinding">
      <soap:address location="http://localhost:4789/document"/>
    </port>
  </service>
</definitions>