src/main/resources/wsdl/document.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e.--><xs:schema version="1.0" targetNamespace="http://service.server/" xmlns:tns="http://service.server/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="DocumentAlreadyExist" type="tns:DocumentAlreadyExist"/>
  <xs:element name="DocumentNotFound" type="tns:DocumentNotFound"/>
  <xs:element name="delete" type="tns:delete"/>
  <xs:element name="deleteResponse" type="tns:deleteResponse"/>
  <xs:element name="findAll" type="tns:findAll"/>
  <xs:element name="findAllResponse" type="tns:findAllResponse"/>
  <xs:element name="findById" type="tns:findById"/>
  <xs:element name="findByIdResponse" type="tns:findByIdResponse"/>
  <xs:element name="save" type="tns:save"/>
  <xs:element name="saveResponse" type="tns:saveResponse"/>
  <xs:complexType name="findById">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="findByIdResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:document" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="document">
    <xs:sequence>
      <xs:element name="amount" type="xs:decimal" minOccurs="0"/>
      <xs:element name="billRemove" type="xs:int" minOccurs="0"/>
      <xs:element name="billWrite" type="xs:int" minOccurs="0"/>
      <xs:element name="destination" type="xs:string" minOccurs="0"/>
      <xs:element name="id" type="xs:int" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DocumentNotFound">
    <xs:sequence>
      <xs:element name="message" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="save">
    <xs:sequence>
      <xs:element name="arg0" type="tns:document" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="saveResponse">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="DocumentAlreadyExist">
    <xs:sequence>
      <xs:element name="message" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="delete">
    <xs:sequence>
      <xs:element name="arg0" type="tns:document" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deleteResponse">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="findAll">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="findAllResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:document" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>